& {
    #platui > #media;
    #platui > #mixins;
    #platui > #variables;

    [plat-control="home-vc"] {
       .style{
           border-bottom: 1px solid black;
           margin-left: 40px;
           margin-right: 40px;
       }
       #title {
           display: inline;
       }
       #thumbnail {
           float: left;
           margin-right: 10px;
       }
       .div {
           display: block;
           margin-bottom: 30px;
       }
       .button {
          float: right;
       }
   
    }
}


